*{
    box-sizing: inherit;
    margin-top: 0%;
    margin-left:  0%;
    margin-right: 0%;
    
}

html{
    font-size: 100%;
    line-height: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.card-title {
    color: #063527;
    text-decoration: none;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid_column{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
}

.first{
    height: 30px;
    background-color: #063527;
    color: white;
    align-items: center;
    text-align:center;
    padding-top: 8px;
    margin-top: 0%;
}

.header{
    height: 130px;
    
    background-color: #0C543C;
}

.search{
    height: 100px;
    display: flex;
    background-color: #0c543c;
    align-items: center;
}


.header__logo img{
    width: 100px;
    align-items: center;
}

.header__search{
    color: white;
    height: 20px;
    flex:1;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
    display: flex;
}

.input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: gray;
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-button{
    background-color: #0C543C;
    border: none;
    height: 34px;
    width: 34px;
    border-radius: 3px;
    margin-right: 3px;
    display: flex;
}

.header__search-button-icon{
    font-size: medium;
    color: white;
    display: flex;
}

.header__icon{
    width: 500px;
    margin-top: 40px;
    margin-right: 0%;
    display: flex;
    
    justify-content: space-between;
    float: left;
}

.header__icon ul li a{
    text-decoration: none;
    background-color: #0C543C;
    color:white;
    font-size: 16px;
    background-color: #3a785d;
    padding: 10px 10px;
    margin-top: 0px;
   
}

.header__icon ul li a:hover{
    background: white;
    color: #0C543C;
}



.header__navbar{
    display: flex;
    background-color: #063527;
    align-items: center;
    height: 40px;
    
}

.header__navbar ul li a{
    text-decoration: none;
    margin-top: 10px;
    color:white;
    font-size: 16px;
    padding-top: 10px;
    padding: 10px 20px;
    

}

.header__navbar ul li a:hover{
    background: white;
    color: #0C543C
}

.header__list{
    list-style: none;
}

.header__items{
    display: inline-block;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

.modal{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
}

.modal__body{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: auto;
    position: relative;
}

.form{
    padding: 30px;
}

.form__header{
    text-align: center;
}

.form__header h3{
    text-transform: uppercase;
    font-size: larger;
}

.form__header p{
    font-size: small;
}

.form__input{
    width: 100%;
    height: 40px;
    padding:0 10px;    
    margin-top: 16px;
}

.form__bodynext{
    font-size: small;
    color: gray;
    margin-top: 16px;
}

.form__bodynext p a{
    color: rgb(66, 183, 255)
}

.form__button{
    width: 100%;
    height:40px;
    color:white;
    background-color:#0C543C;
    text-transform: uppercase;
    margin-top: 20px;
}

.form__button:hover{
    color:black;
    background-color: gray;
}

.form__end{
    font-size: small;
    color: gray;
    margin-top: 20px;
    text-align: center;
    line-height: 10px;
}

.form__end p a{
    color: rgb(66, 183, 255)
}


.footer{
    text-align: center;
    margin-bottom: 0%;
    background-color: #063527;
    color: white;
}
